<p>
  <mat-toolbar color="primary">
    <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button> -->
    <span
      [routerLink]="['']"
      routerLinkActive="router-link-active"
      style="cursor: pointer"
    >
      Track Crypto
    </span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon home-icon"
      aria-label="Example icon-button with heart icon"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      [routerLink]="['/about']"
      routerLinkActive="router-link-active"
    >
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>
</p>
