<div class="container">
  <h2 style="text-align: center">
    <p>
      This website is to demonstrate the use of websockets in an angular
      application made by
    </p>
    <a href="https://theprogrammerdude.github.io/#/">
      <b><i>TheProgrammerDude</i></b>
    </a>
  </h2>

  <p>
    Given below are few of the screenshots of my website and respective links.
  </p>

  <a href="https://theprogrammerdude.github.io/#/">
    <img
      src="../../../assets/tpd1.png"
      alt=""
      style="width: 100%; border-radius: 15px; cursor: pointer"
    />
  </a>

  <h2>Github</h2>
  <p>
    Click on the image ang you'll be lead to the Github page of
    TheProgrammerDude
  </p>

  <a href="https://github.com/theprogrammerdude">
    <img
      src="../../../assets/gti.png"
      alt=""
      style="width: 100%; border-radius: 15px; cursor: pointer"
    />
  </a>

  <h2>Few other Projects</h2>
  <div class="projects">
    <div class="project">
      <a href="https://hugme.netlify.app/">
        <img src="../../../assets/hugme.png" alt="" />
      </a>
      <p><b>Hug Me</b></p>
      <p>Generates and displays random hugging GIFs;</p>
    </div>

    <div class="project">
      <a href="https://rqa.netlify.app/">
        <img src="../../../assets/rqa.png" alt="" />
      </a>
      <p>
        <b>Random Quotes Application</b>
      </p>
      <p>Generates random quotes in english and german.</p>
    </div>
  </div>
</div>
